bare_bones/rust_os/target/*
!bare_bones/rust_os/target/custom_target

bare_bones/rust_os/target/custom_target/*
!bare_bones/rust_os/target/custom_target/debug

bare_bones/rust_os/target/custom_target/debug/*
!bare_bones/rust_os/target/custom_target/debug/bootimage-rust_os.bin